{% extends "InventoryBundle::layout.html.twig" %}

{% block body %}
    <h1>{{ 'Delivery'|trans }}</h1>

    <div class="row">
        <div class="col-xs-4 table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>{{ 'Site'|trans }}</th>
                        <td>{{ delivery.site }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Deliverydate'|trans }}</th>
                        <td>{% if delivery.deliveryDate %}{{ delivery.deliveryDate|date('d-m-Y H:i') }}{% endif %}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
 
 	 <div class="row">
 	 	<div class="col-xs-6 table-responsive">
 	 
 	 <form method="post" name="form" action="{{ path('depot_livraison') }}">
     <input type="hidden" name="delivery" value="{{ delivery.id }}">
        
                    <p>
                        {{ "Article à ajouter/enlever au bulletin" }}
                    </p>
                    </p>
                        {% if error is defined %}
                        {% if error %}
                            <div class="has-error">
                                <p class="error-block">
                                    <span class="label label-danger"> Erreur </span>
                                    {{ error }}
                                </p>
                            </div>
                        {% endif %}
                        {% endif %}
                    <p>
                    <p>
                        
                        {% if product==NULL or ean==NULL or not setQty %}
     						<input id="product" type="text" name="product">
    	                {% else %}
                            <span class="info_product">{{ product.name }}, {{ product.unit }}</span><br/>
                            <span class="important">Précisez la quantité : <input id="qty" type="text" name="qty" size="10"></span>
                        	<input id="product" type="hidden" name="product" value="{{ ean }}">
                        	
                        {% endif %}
                       
                    </p>
               
        
    </form>

 	 	</div>
 	 	<p>&nbsp;</p>
 	 </div>
 
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Catégorie</th>
                    <th>Article</th>
                    <th>Unité</th>
                    <th>Quantité</th>
                </tr>
                </thead>
				<tbody>
				{% for product in delivery.deliveredproducts %}
					<tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ product.product.category.name }}</td>
                        <td>{{ product.product.name }}</td>
                        <td>{{ product.unit }}</td>
						<td>{{ product.quantity }}</td>
					</tr>
				{% endfor %}
				</tbody>
            </table>
        </div>
	</div>
    
    <script language="JavaScript" type="text/javascript">
   		window.onload = function() {
   			{% if product==NULL or ean==NULL or not setQty %}
   				document.getElementById('product').focus();
   			{% else %}
   				document.getElementById('qty').focus();
   			{%  endif %}
   		};
  	</script>
  	
{% endblock %}
