{% extends "InventoryBundle::layout-pdf.html.twig" %}

{% block stylesheets %}
<style>
#header th {
    background-color: #999999;
    padding: 5px 3px;
    white-space: nowrap;
}

table {
	border: 1px solid #ccc;
	width: 850px;
}

#detail table {
	border-bottom: 2px double #ccc;
}

</style>
{% endblock %}

{% block title %}InventoryBundle:Listing:printSiteResume{% endblock %}

{% block body %}
<h2>Résumé des livraisons par dates pour ce chantier</h2>

{# début de la table #}
<div id="header">
<h3>Chantier</h3>
<table>
<thead>
<tr>
	<th>Chantier</th>
	<th>NPA</th>
	<th>Adresse</th>
	<th>Prix de revient</th>
	<th>Prix de vente indicatif</th>
</tr>
</thead>

<tbody>
<tr>
	<td>{{ site.name }}</td>
	<td>{{ site.postcode }}</td>
	<td>{{ site.address }}</td>
	<td align="right">{{ sumCost|number_format(2, '.', '\'') }}</td>
	<td align="right">{{ sumSale|number_format(2, '.', '\'') }}</td>
</tr>
</tbody>

</table>
{# fin de la table #}
</div>

<div id="detail">
<h3>Livraisons par dates</h3>

{% for delivery in site.deliveries %}
{%  set sum_delivery = 0 %}
<table>
<thead>
<tr>
	<td colspan="5" align="left"><strong>Type:</strong> {{ delivery.docType }}</td>
</tr>
<tr>
	<td colspan="5" align="left"><strong>Date:</strong> {{ delivery.deliveryDate|date('d-m-Y H:i') }}</td>
</tr>
<tr style="page-break-inside: avoid;">
	<th style="text-align:left;" width="50%">Article</th>
	<th style="text-align:right;"width="10%">Qté</th>
	<th style="text-align:left;" width="10%">Unité</th>
	<th style="text-align:right;" width="15%">PA unit.</th>
	<th style="text-align:right;" width="15%">Total PA</th>
</tr>
</thead>

<tbody>
{% for dp in delivery.deliveredProducts %}
{% set row_total = dp.quantity * dp.deliveryCostPrice %}
<tr style="page-break-inside: avoid;">
	<td style="text-align:left;">{{ dp.product.name }}</td>
	<td style="text-align:right;">{{ dp.quantity }}</td>
	<td style="text-align:left;">{{ dp.unit }}</td>
	<td style="text-align:right;">{{ dp.deliveryCostPrice|number_format(2, '.', '\'') }}</td>
	<td style="text-align:right;">{{ row_total|number_format(2, '.', '\'') }}</td>
</tr>
{%  set sum_delivery = sum_delivery + row_total %}
{%  endfor %}
<tr>
	<td colspan="4" align="right"><strong>Somme prix de revient de la livraison:</strong></td>
	<td align="right"><strong>{{ sum_delivery|number_format(2, '.', '\'') }}</strong></td>
</tr>
</tbody>

</table>
{%  endfor %}

</div>

{% endblock %}
