{% extends "InventoryBundle::layout-pdf.html.twig" %}

{% block stylesheets %}
<style>
#header th {
    background-color: #999999;
    padding: 5px 3px;
    white-space: nowrap;
}

table {
	border: 1px solid #ccc;
	width: 850px;
}

#detail table {
	border-bottom: 2px double #ccc;
}

</style>
{% endblock %}

{% block title %}InventoryBundle:Listing:printSiteResume{% endblock %}

{% block body %}
<h2>Résumé des livraisons par articles pour ce chantier</h2>

{# début de la table #}
<div id="header">
<h3>Chantier</h3>
<table>
<thead>
<tr>
	<th>Nom chantier</th>
	<th>NPA</th>
	<th>Adresse</th>
	<th>Prix de revient</th>
	<th>Prix de vente indicatif</th>
</tr>
</thead>

<tbody>
<tr>
	<td>{{ site.name }}</td>
	<td>{{ site.postcode }}</td>
	<td>{{ site.address }}</td>
	<td align="right">{{ sumCost|number_format(2, '.', '\'') }}</td>
	<td align="right">{{ sumSale|number_format(2, '.', '\'') }}</td>
</tr>
</tbody>

</table>
{# fin de la table #}
</div>

<div id="detail">
<h3>Articles livrés</h3>
<table style="border-bottom: 2px double #ccc;">
<thead>
<tr>
	<th width="50%">Article</th>
	<th width="10%">Qté</th>
	<th width="10%">Unité</th>
	<th width="15%" align="right">Prix achat unit.</th>
	<th width="15%" align="right">Total PA ligne</th>
</tr>
</thead>

<tbody>
{% for product in products %}
{% set middleCost = product.totalCostPrice / product.quantity %}
<tr>
	<td>{{ product.product.name }}</td>
	<td align="right">{{ product.quantity }}</td>
	<td>{{ product.product.unit.name }}</td>
	<td align="right">{{ middleCost|number_format(2, '.', '\'') }}</td>
	<td align="right">{{ product.totalCostPrice|number_format(2, '.', '\'') }}</td>
</tr>
{%  endfor %}
</tbody>

</table>
{# fin de la table #}
</div>

{% endblock %}
