{% extends "InventoryBundle::layout.html.twig" %}

{% block title %}InventoryBundle:Listing:printSiteResume{% endblock %}

{% block body %}
<h2>Résumé des livraisons par dates pour ce chantier</h2>

{# début de la table #}
<div id="header">
<h3>Chantier</h3>
<table>
<thead>
<tr>
	<th>Nom chantier</th>
	<th>NPA</th>
	<th>Adresse</th>
	<th>Prix de revient</th>
	<th>Prix de vente indicatif</th>
</tr>
</thead>

<tbody>
<tr>
	<td>{{ site.name }}</td>
	<td>{{ site.postcode }}</td>
	<td>{{ site.address }}</td>
	<td>{{ site.id }}</td>
	<td>{{ site.id }}</td>
</tr>
</tbody>

</table>
{# fin de la table #}
</div>

<div id="detail">
<h3>Livraisons par dates</h3>

{% for delivery in site.deliveries %}
{%  set sum_delivery = 0 %}
<table>
<thead>
<tr>
	<th colspan="5">Date de livraison: {{ delivery.deliveryDate|date('d-m-Y H:i') }}</th>
</tr>
<tr>
	<th>Article</th>
	<th>Qté</th>
	<th>Unité</th>
	<th>Prix achat unit.</th>
	<th>Total PA ligne</th>
</tr>
</thead>

<tbody>
{% for dp in delivery.deliveredProducts %}
{% set row_total = dp.quantity * dp.deliveryCostPrice %}
<tr>
	<td>{{ dp.product.name }}</td>
	<td>{{ dp.quantity }}</td>
	<td>{{ dp.unit }}</td>
	<td>{{ dp.deliveryCostPrice }}</td>
	<td>{{ row_total }}</td>
</tr>
{%  set sum_delivery = sum_delivery + row_total %}
{%  endfor %}
<tr>
	<th colspan="5">Somme prix de revient de la livraison: {{ sum_delivery }}</th>
</tr>
</tbody>

</table>
{%  endfor %}

</div>

{% endblock %}
