{% extends "InventoryBundle::layout.html.twig" %}

{% block title %}InventoryBundle:Listing:printSiteResume{% endblock %}

{% block body %}
<h2>Résumé des livraisons par articles pour ce chantier</h2>

{# début de la table #}
<div id="header">
<h3>Chantier</h3>
<table>
<thead>
<tr>
	<th>Nom chantier</th>
	<th>NPA</th>
	<th>Adresse</th>
	<th>Prix de revient</th>
	<th>Prix de vente indicatif</th>
</tr>
</thead>

<tbody>
<tr>
	<td>{{ site.name }}</td>
	<td>{{ site.postcode }}</td>
	<td>{{ site.address }}</td>
	<td>{{ site.id }}</td>
	<td>{{ site.id }}</td>
</tr>
</tbody>

</table>
{# fin de la table #}
</div>

<div id="detail">
<h3>Articles livrés</h3>
<table>
<thead>
<tr>
	<th>Article</th>
	<th>Qté</th>
	<th>Unité</th>
	<th>Prix achat unit.</th>
	<th>Total PA ligne</th>
</tr>
</thead>

<tbody>
<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tbody>

</table>
{# fin de la table #}
</div>

{% endblock %}
